* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

@font-face {

	
	font-family: Segoe-bold;
	src: url(../fonts/SEGOEUI.TTF);
	font-weight:900;
}
@font-face {
	font-family: Segoe-regular;
	src: url(../fonts/SEGOEUI.TTF);
	font-weight:400;
}

:root {
	--index: calc(1vw + 1vh);
}

body{
	background-color: white;
	color: #323954;
	font-family: Segoe-regular;
}

a:active, 
a:hover,
a {
 text-decoration: none;
 color: white;
}

