a:active, /* активная/посещенная ссылка */
a {
  text-decoration: none;
  color: #666;
  transition: 0.2s;
}
a:hover{
    color: #222222;
}
h2{
    font-size: 28px;
}
h1{
    font-size: 42px;
}
p{
    font-size: 14px;
}