.filter-menu {
  position: absolute;
  background-color: #CCD4DE;
  border: 1px solid #323954;
  width: calc(var(--index)*8);
  height: calc(var(--index)*7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: calc(var(--index)*0.8);
	left: 53.3vw;
	
}

.filter-menu input,
.filter-menu select {
  width: calc(var(--index)*7);
  height: calc(var(--index)*1.25);
  border-radius: 20px;
  border: 1px solid #323954;
  color: #323954;
  margin-bottom: 4px;
	padding: 0 calc(var(--index)*0.5);
	cursor: default;
}

.filter-menu button {
  margin-top: calc(var(--index)*0.4);
	margin-right: 2px;
	width: calc(var(--index)*3.43);
	height: calc(var(--index)*1);
	border: 1px solid #323954;
	border-radius: calc(var(--index)*0.35);
	cursor: pointer;
}
