header {
  position: relative;
  display: flex;
	justify-content: flex-end;
  background: #3E53A0;
  width: 100%;
  height: 15.57vh;
	padding-right: calc(var(--index)*3);
	color: white;
}

header .logo {
	position: absolute;
  display: flex;
  align-items: center;
	left: calc(50% - (calc(var(--index)*25) / 2));
	top: calc(50% - calc(var(--index)*3.5)/2);
  width: calc(var(--index)*25); 
	height: calc(var(--index)*3.5);
	background-repeat: no-repeat;
}
header h2, header a {
  display: flex;
  align-items: center;
	font-size: calc(var(--index)*1);
	position: relative;
	top: calc(50% - var(--index));
	font-weight: bold;
}
header a:hover{
	color: #E5E5E5;
}
